.App{
  border: 1px solid #8e8e8e;
  width: 550px;
  margin: 120px auto;
  border-radius: 5px;
}

.todo_list{
  border:  1px solid #8e8e8e;
  margin: 5px;
}


h1{ 
  justify-content: center;
  margin: 50px;
  text-align: center;
  

}

#Preloader{ 
  padding-top:300px;
  justify-content: center;
  text-align: center;
  justify-content: center;
  display: flex;
}